.container {
  

    //position: absolute;
    margin-left: 18.2%;
    margin-right: 17.2%;
    //max-width: 60%;
    min-height: calc(100vh - 333px);
   // margin-top: 160px;
    padding-bottom: 96px;
  
}
.text {
  position: absolute;
  top: 50%;
  margin-top: -0.625em;
  margin-left: 50%;
  text-align: center;
}
