.textarea {
  border-radius: 5px;
  background: #f9fafb;
  border: 1px solid #dedee0;
  width: 377px;
  height: 183px;
  padding-left: 13px;
  margin-top: 4px;
  min-width: 100px;
  min-height: 20px;
  max-width: 600px;
  max-height: 300px;
}

.label {
  font-family: Helvetica;
  font-size: 12px;
  line-height: 14px;
  font-weight: bold;
  /* identical to box height */
  letter-spacing: 0.3px;
  text-transform: uppercase;
  margin-left: 24px;
  margin-right: 24px;
  margin-top: 15px;
  color: #303030;

  margin-bottom: 4px;
}
